.box{
  margin-left:40%;
  margin-right:20%;
  margin-top:15%; 
}
.popup {
    position:absolute;
    top:-150%;
    left:50%;
    opacity:0;
    transform:translate(-50%,-50%) scale(1.25);
    width:400px;
    padding:20px 30px;
    background:#fff;
    box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius:10px;
    transition:top 0ms ease-in-out 200ms,
               opacity 200ms ease-in-out 0ms,
               transform 200ms ease-in-out 0ms; 
  }
  .popup.active {
    top:50%;
    opacity:1;
    transform:translate(-50%,-50%) scale(1);
    transition:top 0ms ease-in-out 0ms,
               opacity 200ms ease-in-out 0ms,
               transform 200ms ease-in-out 0ms;
  }

  .popup .form h2 {
    text-align:center;
    color:#222;
    margin:10px 0px 20px;
    font-size:25px;
  }
  .popup .form .form-element {
    margin:15px 0px;
  }
  .popup .form .form-element label {
    font-size:18px;
    color:#222;
  }
  .popup .form .form-element input{
    margin-top:5px;
    display:block;
    width:100%;
    height:60%;
    padding:10px;
    outline:none;
    border:1px solid #aaa;
    border-radius:5px;
  }
  .popup .form .form-element button {
    width:100%;
    height:40px;
    border:none;
    outline:none;
    font-size:16px;
    background:#222;
    color:#f5f5f5;
    border-radius:10px;
    cursor:pointer;
  }
  .popup .form .form-element a {
    display:block;
    text-align:right;
    font-size:15px;
    color:#1a79ca;
    text-decoration:none;
    font-weight:600;
  }
#voterid,#voterkey{
  width:45%;
  margin-top:20px;
}
#key,#badge{
  width:45px;
  margin-top:22px;
  margin-left:-45px;
  height:43px;
  border-radius: 7px;
}
#votei,#votek{
  display:flex;
}
#cl,#addvote{
  margin-top:10px;
}
#add-voter{
  background-color: #2ecd10;
}
#import,#add-voter{
  display: inline-block;
  font-size: 1.25 em;
}
#disp{
  margin-top:-15%;
}