<!DOCTYPE html>
<html lang="en">
<head>
    <title>VOTERS | LOGIN</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9782be8717.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="voterlogin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <ul>
                <li><i class="material-icons">description</i><a id="top" href="https://rvd-24.github.io/WebElectt/Overview/">Overview</a></li>
                <li><i  class="material-icons">settings</i><a id="top" href="#"> Settings</a></li>
                <li><i class="material-icons">ballot</i><a id="top" href="https://rvd-24.github.io/WebElectt/AddC/"> Ballot</a></li>
                <li><i class="material-icons">how_to_reg</i><a id="top" href="https://rvd-24.github.io/WebElectt/AddV/">Voters</a></li>
                <li><i class="material-icons">preview</i><a id="top" href="#">Preview</a></li>
                <li><i class="fas fa-rocket" id="rocket"></i><a id="top" href="https://rvd-24.github.io/WebElectt/VotingPortal/">Launch</a></li>
            </ul>
        </div>
    </header>
    
    <div class="container">
        <div class="left">
            <div class="quote" >
            "Your voices are being heard and you’re proving to our ancestors that their struggles were not in vain. 
            Now we have one more thing we need to do to walk in our true power, and that is to vote"
            
            <p style="color:rgba(19, 206, 112, 0.918);"> -Beyoncé, Grammy Award-winning singer and artist </p>
           </div>
           <div class="image">
           <img src="main3.jpg"  alt="" align="left">
           <img src="main6.jpg" alt="" align="right">
        </div>
        </div>
        <div class="right">
            <form class="form" name="myForm" ng-app="myApp" ng-controller="validateCtrl" class="form" align="left">
                <h1>LOGIN HERE</h1>
                <hr>
                <label for="First name"><b>Name</b></label> <br>
                <input type="text" name="user" id="n" ng-model="user" required placeholder="Enter Name"><br>
                <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                <span ng-show="myForm.user.$error.required">Voter Name is required.</span>
                </span>
                <br>

                <label for="Voter ID"><b>Voter ID</b></label> <br>
                <input type="text" name="voterid" id="voterid" ng-model="voterid" ng-pattern="vid" required placeholder="Voter ID"><br>
                <span style="color:red" ng-show="myForm.voterid.$dirty && myForm.voterid.$invalid">
                <span ng-show="myForm.voterid.$error.required">Voter ID is required.</span>
                <span ng-show="myForm.voterid.$error.pattern">Invalid voterid</span></span><br>

                <label for="Voter Key"><b>Voter Key</b></label> <br>
                <input type="text" name="key" id="k" ng-model="key" ng-pattern="vkey" required placeholder="Voter ID"><br>
                <span style="color:red" ng-show="myForm.key.$dirty && myForm.key.$invalid">
                <span ng-show="myForm.key.$error.required">Voter Key is required.</span>
                <span ng-show="myForm.key.$error.pattern">Invalid Key</span></span><br>
                
                <div id="buttons">
                <button type="submit" class="btn btn-success btn-lg" ng-click="redirect()">Submit</button>
                <button type="reset" class="btn btn-light" id="cl" >Reset</button></div>
                </form>
        </div>

      </div>
      <script>
        var app = angular.module('myApp', []);
        app.controller('validateCtrl', function($scope,$window) {
        $scope.vid = /^[a-zA-Z0-9]{5}$/;
        $scope.vkey = /^[a-zA-Z0-9]{5}$/;
        $scope.redirect=function(){
            if($scope.user==undefined||$scope.voterid==undefined||$scope.key==undefined)
            {
                alert("Fields are empty");
            }
            else{
                window.location.href="Votehere/index.html"
            }
        }
        });
        
      </script>
      <div class="clr"></div>
      <footer align="center">
        &copy; 2021 Student Voting Form. All Rights Reserved | Design By <span class="foot">Students</span> 
    </footer>
</body>
</html>